.example-class {
    width: 250px;
    height: auto;
    border: 5px solid #669e66;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    background: #a1b3c1;
    position: absolute;
    
}

h3 {
    display: inline-block;
    font-size: 120%;
    position: fixed;
    bottom: 45%;
    right: 230;
    width: 400px;
    color: #669e66;
}